<div class="container">
  <h3>投稿編集</h3>
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  <div class="container mt-5 my-3 ml-3 mr-3">
    <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
      <p>画像<br>
         <%= f.file_field :image %></p>
      <p>タイトル<br>
         <%= f.text_field :title %></p>
      <p>説明<br>
         <%= f.text_area :body %></p>
      <%= f.submit '保存', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>