<div class="container">
  <h3>新規投稿</h3>
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  <div class="container mt-5 my-3 ml-3 mr-3">
    <%= form_with model: @post do |f| %>
      <p>画像<br>
        <%= f.file_field :image, accept: "image/*" %></p>
      <p>タイトル<br>
        <%= f.text_area :title %></p>
      <p>本文<br>
        <%= f.text_area :body %>
      </p>
      <%= f.submit '投稿', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>