<h1>Posts#show</h1>

  <div>
    <%= render 'list', posts: @posts %>
    
    <% if @post.user == current_user %>
      <%= link_to "編集", edit_post_path(@post.id) %>
      <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
    
    <%= render "post_comments/index", post: @post %>
    <%= render "post_comments/form", post: @post, post_comment: @post_comment %>
    
  </div>
