<h1>Users#mypage</h1>
<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
  <p><%= link_to "投稿一覧", user_path(@user.id) %></p>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
  <p><%= link_to "退会する", users_check_path(@user.id) %></p>
  <% end %>
</div>